<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Tạo bài viết</h3>
    </div>
    <!-- form start -->
    <form action="/views/treeForm.ejs" method="POST">
        <div class="card-body">
            <div class="form-group">
                <label for="title">Name :</label>
                <input type="text" class="form-control" name="name" required minlength="20" maxlength="100">
            </div>
            <div class="form-group">
                <label for="author">Description:</label>
                <input type="text" class="form-control" name="description" required><br>
            </div>
            <div class="form-group">
                <label for="image">Link ảnh:</label>
                <input type="url" class="form-control" name="image" placeholder="Nhập link URL của ảnh"><br>
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button class="btn btn-primary" type="submit">
                Add
            </button>
        </div>
    </form>
</div>

<!-- Summernote -->
<script src="../../plugins/summernote/summernote-bs4.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
    $(function () {
        //Add text editor
        $('#compose-textarea').summernote()
    })
</script>